.review{
    padding: .8rem;
    width: 153.6rem;
    position: relative;
    flex-flow: row;
    display: flex;
    background-color: whitesmoke;
    
}

.review2{
    padding: .8rem 0rem 0rem;
    display: block;
    width: 100%;
}

.reviewdiv{
    width: 100%;
    display: flex;
    flex-flow: wrap;        
    background-color: #fff;
    border-radius: .2rem;
    box-shadow: 0 .2rem .4rem 0 rgb(0 0 0 / 8%)
}

.reviewHeading{
    font-size: 2.0rem;
    font-weight: 500;
    padding: 1.5rem 2.0rem;
    border-bottom: .1rem solid #f0f0f0;
    width: 100%; 
}

