.wrapper{
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}



.showratings{
    display: none;
}

.showedratings{
    display: block;
    margin: 7px 0;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: -16px;
    padding: 16px;
}

.item > span {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3px;
    display: inline-block;
    width: 95%;
}

.star{
    padding: 3px 0;
}