.card{
    width: 25%;
}

.cardEle{
    overflow: hidden;
    margin: 0 .8rem;
    position: relative;
    transition: box-shadow .2s ease-in-out;
    filter: none!important;
    height: 100%;
}

.cardpic{
    padding-top: 120%;
    width: 100%;
    position: relative;
}

.cardpic1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    filter: none!important;
}

.cardpic1 > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    transition: opacity .5s linear;
    opacity: 1;
    margin: auto;
    z-index: 0;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;

}

.cardempty{
    bottom: 4.06rem;
    position: absolute;
    bottom: .4rem;
    opacity: 0;
    width: 100%;
    padding: 0 .8rem;
    transition: opacity .2s .35s;
}

.carddil{
    position: absolute;
    display: inline-block;
    top: 1.2rem;
    right: 1.2rem;
    cursor: pointer;
}

.cardDetail{
    width: 100%;
    padding: .5rem 1.6rem .8rem;
    position: relative;
    background: #fff;
    z-index: 2;
}

.brandname{
    color: #878787;
    font-size: 1.4rem;
    font-weight: 500;
    height: 1.96rem;
}

.productType{
    display: inline-block;
    width: calc(100% - 8.0rem);
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
    font-size: 1.4rem;
    height: 1.96rem;
}

.fAssuredimg{
    display: inline-block;
    font-size: 0;
}

.fAssuredimg > img {
    height: 1.8rem;
}

.price{
    
    padding: 0 1.0rem 0 0;
    display: flex;
    height: 2.24rem;
    align-items: center;
}

.flex1{
    display: flex;
    justify-content: space-between;
}

.mainprice{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #212121;
}

.mainprice > img {
    width: 1.0rem;
    height: 1.2rem;
}

.fullprice{
    text-decoration: line-through;
    font-size: 1.4rem;
    color: #878787;
    display: inline-block;
    margin-left: .8rem;
}

.fullprice > img {
    width: .7rem;
    height: 1.0rem;
    margin-left: .4rem;
}

.discount{
    color: #388e3c;
    font-size: 1.3rem;
    letter-spacing: -.02rem;
    font-weight: 500;
    display: inline-block;
    margin-left: .8rem;
}