.navbar{
    background-color: #fff;
    color: #000;
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    align-items: center;
    height: 4rem;
    width: 153.6rem;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar__spans{
display: flex;
justify-content: space-between;
position: relative;
height: 4rem;
margin-left: 14.4rem;
margin-right: 14.4rem;
}

/* .navbar__spans > span {
    
} */

.navbar__content{
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    font-weight: 500;
    height: 100%;
    display: flex;
}

.navbar__lessContent{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}