.MuiTreeItem-root{
    color: black;
    background-color: white !important;
    padding: 0%;
    font-size: 1.4rem;
}

.Mui-selected{
    
    background-color: white !important;
    padding: 0%;
}

.MuiTreeItem-content{
    font-size: 1.4rem !important;
    padding: 0% !important;
}

.MuiTreeItem-label{
    font-size: 1.4rem !important;
    font-weight: 500 !important;
    padding: 0% !important;
}


