.sidebar{
    flex: 0 0 28rem;
    max-width: 28rem;
    padding: 0rem 1rem 0rem 0rem;
    display: flex;
    flex-flow: column;

}

.sidebar__components{
    background: #fff;
    box-shadow: 0 .1rem .8rem 0 rgb(0 0 0 / 6%);
}

.sidebar__firstComponent{
    padding-bottom: 1.2rem;
    padding: 1.6rem;
    border-bottom: .1rem solid #f0f0f0;
    font-size: 1.8rem;
    font-weight: 500;
}

.sidebar__secondComponent{
    font-size: 1.4rem;
    padding: 1.6rem;
    border-bottom: .1rem solid #f0f0f0;
    width: auto;
}

.sidebar__secondComponent1st{
    font-size: 1.2rem;
    font-weight:600;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: .5rem;
}

.sidebar__secondComponent2nd{
    padding: .5rem 0;
    color: #212121;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.sidebar__secondComponent2nd > span {
    height: 1.7rem;
    color: #878787;
}

.sidebar__secondComponent2nd1st{
    color: #878787;
}

.sidebar__secondComponent3rd{
    color: #212121;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.4rem;
}

.sidebar__thirdComponent{
    padding: 1.6rem;
    border-bottom: .1rem solid #f0f0f0;
    position: relative;
}

.sidebar__fourthComponent{
    display: flex;
    padding: 1.6rem;
    border-bottom: .1rem solid #f0f0f0;
    justify-content: space-evenly;
}

.assured{
    cursor: pointer;
    width: 100%;
    position: relative;
    display: block;
}

.assured > input {
    position: relative;
    width: 1.4rem;
    height: 1.4rem;
    background-color: transparent;
    border: .14rem solid #c2c2c2 !important;
    border-radius: .15rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    vertical-align: top !important;
}

.fAssured{
    vertical-align: middle;
    padding-left: 1.1rem;
    color: #212121;
    display: inline-block;
    width: calc(100% - 2.5rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    cursor: pointer;
    vertical-align: bottom;
}

.fAssured > img {
    height: 2.1rem;
    vertical-align: bottom;
}

.question{
    border-radius: 50%;
    background-color: #fff;
    color: #878787;
    font-weight: 500;
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
    text-align: center;
    display: inline-block;
    border: .1rem solid #e0e0e0;
    box-shadow: 0 0 .1rem 0 rgb(0 0 0 / 20%);
    vertical-align: middle;
    margin: 0 .2rem 0 .8rem;
    cursor: pointer;
}

.sidebar__fifthComponent{
    padding: 1.6rem;
    border-bottom: .1rem solid #f0f0f0;
}

.sidebar__fifthComponent1st{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .03rem;
    display: inline-block;
}

.sidebar__fifthComponent2nd{
    height: 2.5rem;
}

.shadowdiv{
    height: 100%;
    position: relative;
    bottom: -1.2rem;
}
   

.shadow{
    height: 2.5rem;
    width: 3.94683rem;
    background: #e0e0e0;
    display: inline-block;
}

.sidebar__fifthComponent3rd{
    position: relative;
    height: 3.0rem;
    cursor: pointer;
    width: 23.8rem;
}

.MuiSlider-thumb{
    color: white;
    width: 1.3rem !important;
    height: 1.3rem !important;
    box-shadow: none !important;
}

.flexdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blank{
    margin-top: -1.2rem;
}

.blankspace{
    display: inline-block;
    text-align: left;
    user-select: none;
    color: #c2c2c2;
    font-size: 2.0rem;
    width: 3.94683rem;
    height: 2.8rem;
    content: "\00B7";
}

.sidebar__fifthComponent4th{
    color: #a3a3a3;
    font-size: 1.4rem;
    margin: .5rem -.4rem 0;
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 24.6rem;
    height: 2.4rem;
}

.dropdown{
    display: inline-block;
    flex-grow: 2;
}

.select{
    width: 100%;
    border: .1rem solid #e0e0e0;
    border-radius: .1rem;
    background: #fff;
    height: 2.4rem;
    font-size: 1.4rem;
    color: #212121;
    line-height: 1;
    padding: 0 .5rem;
    outline: none;
}

.amount{
    padding: 0 .7rem;
}

.to{
    display: inline-block;
    margin: 0 .9rem;
    font-size: 1.4rem;
    color: #878787;
    line-height: 1;
    flex: 1;
    text-align: center;
}

.sidebar__sixthComponent{
    padding: 1.6rem;
    border-bottom: .1rem solid #f0f0f0;
    position: relative;
}

.sidebar__sixthComponent1st{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: -1.6rem;
    padding: 1.6rem;
}

.brand{
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .03rem;
    display: inline-block;
    width: 95%;
}

.svg{
    display: inline-block;
    cursor: pointer;
    width: 1.6rem;
    height: 2.7rem;
   }

   .sidebar__sixthComponent2nd1{
    margin: .7rem 0;
   }

   .searchbrand{
    margin-bottom: .7rem;
   }
   
   .checkboxItem{
    padding: .3rem 0;
   }
  
   .checkboxItemdiv{
    width: 100%;
    display: inline-block;
    height: 2.56rem;
   }

   .checkboxItemdiv > input {
    position: relative;
    width: 1.4rem;
    height: 1.4rem;
    background-color: transparent;
    border: .14rem solid #c2c2c2;
    border-radius: .15rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
   }

   .puma{
    vertical-align: middle;
    font-size: .14rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    cursor: pointer;
    display: inline-block;
   }

   .labl{
   padding: .3rem 0;
   cursor: pointer;
    width: 100%;
    position: relative;
    display: block;
   }

   .puma{
    width: 21.3rem;
    padding-left: 1.1rem;
   }

   .sidebar__sixthComponent2nd2{
    font-size: 1.2rem;
    font-weight: 600;
    color: #2874f0;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: .9rem;
   }

   .showdiv{
    display: none;
    margin: .7rem 0;
    
}

.showediv{
    display: block;
    margin: .7rem 0;
    
}