.footer{
    background-color: whitesmoke !important;
  width: 153.6rem;
    
    padding-top: 2.5rem;
}

.footerDiv{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    background-color: #172337;
}

.footer1st{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

   .footer1st1st{
    padding: 0 2.5rem;
    color: #878787;
    background-color: #fff;
}

.footer1st2nd{
    clear: both;
    line-height: 1.6rem;
    font-size: 1.1rem;
    margin: 3.0rem 0 1.5rem;
}

   

.footer1stDiv{
    float: right;
    margin: 0 0 3.0rem 5.0rem;
}


.footer2nd > a {
    color: #2874f0 !important;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.footer2ns1st{
    display: flex;
    flex-flow: row;
    margin-left: 6.5rem;
    width: 90%!important;
    padding-top: 4.0rem;
}

.footerAbout{
    flex: 1;
}

.footerAboutdiv{
    color: #878787;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .9rem;
}

.footerAboutdivA{
    line-height: 2;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    display: block;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    border: none;
    outline: none;
}

.footerAddress{
    flex: 1;
}

.footerAddressdiv{
    font-size: 1.2rem;
    white-space: nowrap;
    border-left: .1rem solid #454d5e;
    padding: 0 2.5rem;
}

.footerAddressdiv1st{
    color: #878787;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .9rem;
}

.footerAddressdiv2nd{
    font-style: normal;
    color: #fff;
    background-color: #172337;
}

.footerAddressdiv2{
    font-size: 1.2rem;
    white-space: nowrap;
    padding: 0 2.5rem;
}

.footer2nd2nddiv{
    border-top: .1rem solid #454d5e;
    padding: 2.5rem 0;
    margin-top: 4.0rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer2nd2nddivSpan{
    color: #fff;
    margin-left: .8rem;
}

.footer2nd2nddivspan{
    color: #fff;
}

