.footerTableH2{
    font-size: 1.4rem;
    margin-bottom: 1.0rem;
}

.footerTableHeading{
    border-top: .1rem solid #e0e0e0;
    font-weight: 500;
    padding: 1.0rem 0;
    border-bottom: .1rem solid #e0e0e0;
    list-style: decimal inside;
}

.footerContent{
    padding: 1.0rem 0;
    border-bottom: .1rem solid #e0e0e0;
    list-style: decimal inside;
}

.footerContent1{
    width: 27.5rem;
    vertical-align: top;
    margin-right: .8rem;
    display: inline-block;
    color: #2874f0;
}

.footerConten2{
    width: 6.0rem;
    margin-right: 1.0rem;
    display: inline-block;
}

.footerTableHeading1{
    width: 27.5rem;
    vertical-align: top;
    margin-right: 2.0rem;
    display: inline-block;
}

.footerTableHeading2{
    width: 6.0rem;
    margin-right: 1.0rem;
    display: inline-block;
}

.footerContentEnding{
    font-size: 1.2rem;
    margin-top: 1.2rem;
    font-style: italic;
}


